{
  "parserOptions": { "ecmaVersion": 6 },
  "extends": "airbnb-base",
    rules: {
    'no-shadow': 0,
    'no-param-reassign': 0,
    'eol-last': 0,
  },    "globals": {
        "fetch": false,
        "document": false,
        "navigator": false,
        "require": false,
        "window": false,
        'import/resolver': {
            node: {
                extensions: ['.js', '.jsx', '.ts', '.tsx'],
                moduleDirectory: ['node_modules', 'src/'],
            },
        },
    }

}

